<!DOCTYPE html>
<html>
<head>
	<title>WomenIT</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="<?=CSS?>style.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
	<script src="<?=JS?>config.js"></script>
  <script src="<?=JS?>jquery-3.1.1.js"></script>
	<script src="<?=JS?>funciones-datos.js"></script>
	<script src="<?=JS?>funciones.js"></script>
  <script src="<?=JS?>validarInputs.js"></script>
</head>
<body>
<div class="bg"></div>

<!-- modal -->
<div id="ventana" class="ventana">
  <h2 id="texto"></h2>
  <p id="texto-p"></p>
</div>

<div id="ventana" class="ventana">
  <h2 id="texto"></h2>
  <p id="texto-p"></p>
</div>
<!-- modal fin -->

  <div class="logos">
      <img src="<?=IMG?>uaq.png">
      <img src="<?=IMG?>fif.png">
   </div>
	<div class="main">


		<div class="circulo-a"></div>
		<div class="circulo-b"></div>
		<div class="circulo-c"></div>
		<img src="<?=IMG?>logo.png" class="logo">

    <div class="fecha">
      <p class="fecha">15 de Marzo, 2018</p>
    </div>


		<div class="botonera">
			<button><a href="#programa">PROGRAMA</a></button>
			<button><a href="#registro">REGISTRO</a></button>
		</div>

    <div class="lugar">
      <div class="texto">
        <h3>Centro de Negocios, U.A.Q.<br>Av. de las Ciencias S/N, Juriquilla, Querétaro.</h3>
      </div>

      <div class="troya">
        <img src="<?=IMG?>logo_troyana.png">
      </div>
    </div>

	</div>



	<div class="programa">
		<h1 id="programa">PROGRAMA DEL EVENTO</h1>

      <div class="hora mini">
          <div class="color">
            <p>08<br>00<br><b>AM</b></p>
          </div>

          <div class="info">
            <h1>Recepción</h1>
          </div>
      </div>

      <div class="hora mini">
          <div class="color">
            <p>08<br>30<br><b>AM</b></p>
          </div>

          <div class="info">
            <h1>Inauguración</h1>
          </div>
      </div>


		  <div class="hora">
          <div class="color">
            <p>09<br>00<br><b>AM</b></p>
          </div>

          <div class="info">
            <h1>MUJER-ES CIENCIA: COMPARTIENDO EXPERIENCIAS</h1>
          </div>


          <div class="conferencista">
          	<div class="conf">
            	<img src="<?=IMG?>tere.jpg">
          	</div>

          	<div class="info2">
            	<h3 class="bold">Dra. Margarita Teresa de Jesús García Gasca</h3>
            	<h3 class="puesto">Rectora de la Universidad Autónoma de Querétaro</h3>
            	<h3 class="contacto">rectoria@uaq.mx</h3>
          	</div>
          </div>
    	</div>

		  <div class="hora mini">
          <div class="color">
            <p>09<br>45<br><b>AM</b></p>
          </div>

          <div class="info">
            <h1>Foto Grupal</h1>
          </div>
    	</div>

      <div class="hora">
          <div class="color">
            <p>10<br>00<br><b>AM</b></p>
          </div>

          <div class="info">
            <h1>Campaña "Girls In the tech"</h1>
          </div>
          <div class="conferencista">
          <div class="conf">
              <img src="<?=IMG?>tata.jpg">
          </div>

          <div class="info2">
            <h3 class="bold">Montserrat Batllori</h3>
            <h3 class="puesto">Gerente de Servicios de Repartos en TATA Consultancy Services</h3>
            <h3 class="contacto">-</h3>
          </div>
          </div>
      </div>


      <div class="hora">
        <div class="color">
        	<p>10<br>40<br><b>AM</b></p>
        </div>

          <div class="info">
            <h1>La equidad en las empresas de TI</h1>
          </div>
          <div class="conferencista">
          <div class="conf">
              <img src="<?=IMG?>blanca.jpg">
          </div>

          <div class="info2">
              <h3 class="bold">Lic. Blanca Ramos</h3>
              <h3 class="puesto">Directora General del grupo de empresas Vision Consulting, Vision Software Factory y Vision QA Services</h3>
              <h3 class="contacto">bramos@visionconsulting.com.mx</h3>
            </div>
		  </div>
    </div>

        <div class="hora">
          <div class="color">
            <p>11<br>20<br><b>AM</b></p>
          </div>

          <div class="info">
            <h1>¡Vivir el hoy siguiendo mis sueños!</h1>
          </div>
          <div class="conferencista">
          <div class="conf">
              <img src="<?=IMG?>sandra.jpg">
          </div>

          <div class="info2">
            <h3 class="bold">Mtra. Sandra Eugenia Beristain Arroyo</h3>
            <h3 class="puesto">Director de CBS México Empresa especializada en soluciones de negocios Microsoft</h3>
            <h3 class="contacto">sandra.beristain@cbsmexico.com</h3>
          </div>
          </div>
        </div>

    <div class="hora">
          <div class="color">
            <p>12<br>00<br><b>PM</b></p>
          </div>

          <div class="info">
            <h1>Mi experiencia como mujer en la tecnología</h1>
          </div>


          <div class="conferencista">
            <div class="conf">
              <img src="<?=IMG?>liz.jpg">
            </div>

            <div class="info2">
              <h3 class="bold">Mtra. Liz Mundo Romero</h3>
              <h3 class="puesto">Directora de Operaciones de ScreenIT</h3>
              <h3 class="contacto">liz.mundo@tas-screenit.com</h3>
            </div>
          </div>
      </div>

		  <div class="hora mini">
        <div class="color">
          <p>12<br>30<br><b>PM</b></p>
        </div>

        <div class="info">
          <h1>Coffee Break</h1>
        </div>
    	</div>

    <div class="hora">
          <div class="color">
            <p>1<br>00<br><b>PM</b></p>
          </div>

          <div class="info">
            <h1>El entorno de la administración de proyectos en las TI</h1>
          </div>


          <div class="conferencista">
            <div class="conf">
              <img src="<?=IMG?>dulce.jpg">
            </div>

            <div class="info2">
              <h3 class="bold">Mtra. Edith Dulce María Morales García</h3>
              <h3 class="puesto">Presidenta del Capítulo PMI Bajío Potential</h3>
              <h3 class="contacto">dmorales@adeksys.com</h3>
            </div>
          </div>
      </div>

		<div class="hora">
          <div class="color">
            <p>1<br>30<br><b>PM</b></p>
          </div>

          <div class="info">
            <h1>Oportunidades para innovar en tecnología y salud</h1>
          </div>


          <div class="conferencista">
          	<div class="conf">
            	<img src="<?=IMG?>sandrap.jpg">
          	</div>

          	<div class="info2">
            	<h3 class="bold">M. en C. Sandra Patricia Rodil García</h3>
            	<h3 class="puesto">Dirección General Laboratorios Mikros</h3>
            	<h3 class="contacto">paty@mikros.com.mx</h3>
          	</div>
          </div>
    	</div>

    	<div class="hora">
          <div class="color">
            <p>2<br>00<br><b>PM</b></p>
          </div>

          <div class="info">
            <h1>Los 10 principales retos de una empresa de TI</h1>
          </div>


          <div class="conferencista">
          	<div class="conf">
            	<img src="<?=IMG?>judith.jpg">
          	</div>

          	<div class="info2">
            	<h3 class="bold">Lic. María Judith Aguilar Acosta</h3>
              <h3 class="puesto">Fundadora BUSEM Tecnología e Innovación Empresarial y Embajadora WED Querétaro (Women Entrepreneurship Day)</h3>
            	<h3 class="contacto">judith.aguilaracosta@gmail.com</h3>
          	</div>
          </div>
    	</div>

    	<div class="hora p">
          <div class="color">
            <p>2<br>45<br><b>PM</b></p>
          </div>

          <div class="info">
            <h1>Panel de Mujeres en las TI</h1>
          </div>


          <div class="conferencista">
          	<div class="conf">
            	<img src="<?=IMG?>rosa.jpg">
          	</div>

          	<div class="info2">
            	<h3 class="bold">Dra. Alma Rosa García Gaona</h3>
            	<h3 class="puesto">Directora General del Consejo Nacional de Acreditación en Informática y Computación (CONAIC)</h3>
            	<h3 class="contacto">conaic.dir.gral@gmail.com</h3>
          	</div>
          </div>

          <div class="conferencista">
            <div class="conf">
              <img src="<?=IMG?>dulce.jpg" class="inv">
            </div>

            <div class="info2">
              <h3 class="bold">Mtra. Edith Dulce María Morales García</h3>
              <h3 class="puesto">Presidenta del Capítulo PMI Bajío Potential</h3>
              <h3 class="contacto">dmorales@adeksys.com</h3>
            </div>
          </div>

          <div class="conferencista">
            <div class="conf">
              <img src="<?=IMG?>aztlan.jpg" class="inv">
            </div>

            <div class="info2">
              <h3 class="bold">Ing. Martha Aztlán Enriquez Carrola</h3>
              <h3 class="puesto">Managing Director, Deloitte México</h3>
              <h3 class="contacto">marenriquez@deloittemx.com</h3>
            </div>
          </div>

          <div class="conferencista">
            <div class="conf">
              <img src="<?=IMG?>dulceCa.jpg" class="inv">
            </div>

            <div class="info2">
              <h3 class="bold">M.I. Dulce Carolina Sánchez Hernández</h3>
              <h3 class="puesto">Coordinadora del PE de Telecomunicaciones y Redes de la Facultad de Informática y Coordinadora de Telecomunicaciones y Radiodifusión de la UAQ.</h3>
              <h3 class="contacto">dulce.car.san@uaq.mx</h3>
            </div>
          </div>

          <div class="conferencista">
            <div class="conf">
              <img src="<?=IMG?>lili.jpg" class="inv">
            </div>

            <div class="info2">
              <h3 class="bold">Ing. Liliana Díaz</h3>
              <h3 class="puesto">Lider de Equipo de Software en GE Aviation</h3>
              <h3 class="contacto">liliana.diaz@ge.com</h3>
            </div>
          </div>
    	</div>

    	<div class="hora mini">
          <div class="color">
            <p>3<br>30<br><b>PM</b></p>
          </div>

          <div class="info">
            <h1>Ceremonia de Clausura</h1>
          </div>
    	</div>



		 <h2 id="registro">¡REGÍSTRATE!</h2>
		<p>¿Estás interesada en participar?<br> Aparta tu lugar con el siguiente registro:</p>
		<form onsubmit="return false">
			<div class="entrada">
				<h3>Nombre(s)</h3>
				<input type="text" id="nombre" placeholder="Nombre(s)">
			</div>

			<div class="entrada">
				<h3>Apellidos</h3>
				<input type="text" id="apellidos" placeholder="Apellidos">
			</div>

			<div class="entrada">
				<h3>Fecha de Nacimiento</h3>
				<input type="date" id="fechaNac">
			</div>

			<div class="entrada">
				<h3>Correo</h3>
				<input type="text" id="correo" placeholder="Correo">
			</div>

      <div class="entrada">
        <h3>Institución</h3>
        <select id="institucion">
          <?=$this->instituciones?>
        </select>
      </div>

			<div class="entrada">
				<h3>Rol</h3>
				<select id="rol">
          <?=$this->roles?>
				</select>
			</div>

			<div class="entrada">
				<h3>¿Cómo te enteraste del evento?</h3>
				<select id="informacion">
          <?=$this->fuentes?>
        </select>
			</div>

			<div class="entrada">
				<button onclick="registrar(this)" id="registro">REGISTRAR</button>
			</div>

		</form>

		<!-- <iframe width="640px" height= "480px" src= "https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__QzhUudUNFdLRUNRUjVQOVRSVlo2RUxKWDdQVDJYTy4u&embed=true" frameborder= "0" marginwidth= "0" marginheight= "0" style= "border: none; background:rgba(54,61,79,1);max-width:100%; max-height:50%" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe> -->
    <footer>
      <h2>Para más información comunícate a <br>Facultad de Informática</h2>
      <p>192 12 00 ext. 5911</p>
      <p>womenit.uaq@gmail.com</p>
    </footer>
	</div>


</body>
</html>
